.popup-text {
    flex: 1;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
    color: #555;
}

.close-btn:hover {
    color: #000;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.popup-green {
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    background:  #00e600;
    border: 0.063rem solid #ccc;
    border-radius: 0.625rem;
    padding: 0.938rem 1.25rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    max-width: 90%;
}

.popup-red {
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    background:  #ff8080;    
    border: 0.063rem solid #ccc;
    border-radius: 0.625rem;
    padding: 0.938rem 1.25rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    max-width: 90%;
}

