.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 50px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 1vw;
    font-weight: bold;
}
.logo-img {
    width: 40%; 
    height: auto;
}

@media (min-width: 1024px) {
    .logo-img {
        width: 150px;
    }

    .header{
        padding: 25px 120px 25px 120px;
    }
}


.menu {
    display: flex;
    gap: 50px;
}

.header-element{
    background: linear-gradient(black 0 0)
        bottom left/
        var(--underline-width, 0%) 0.1em
        no-repeat;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
    transition: background-size 0.5s;
}

.header-element:hover{
    --underline-width: 100%;
}