html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.button{
    margin: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color:  #003399;
    font-size: 18px;
    color: #FFFF;
}

.button:hover{
    background-color: #004de6;
    transition: ease-in-out;
    transition-duration: 0.3s;    
}

.button-red{
    margin: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color:  #cc0000;
    font-size: 18px;
    color: #FFFF;
}

.button-red:hover{
    background-color:  #ff3333;
    transition: ease-in-out;
    transition-duration: 0.3s;    
}

.text-input{
    font-size: 18px;
    padding: 9px;
    border-radius: 5px;
    border-style: solid;
}