.remove-actor{
    border-style: none;
    border-radius: 0.313rem;
    font-size: 0.938rem;
    color: white;
    background-color: #cc0000;
}

 .remove-actor:hover{
    background-color: #ff3333;
    transition: ease-in-out;
    transition-duration: 0.3s;    
 }

 .added-actor-list{
    margin-bottom: 1.563rem;
 }

 .added-actor{
    padding: 0.313rem;
    font-size: 1.125rem;
 }