.no-bullets{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.movie-display {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 3.125rem auto;
    max-width: 100rem;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.movie-item {
    position: relative;
    width: 12.5rem;
    margin: 1.25rem;
}


.movie-image {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    display: block;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.movie-image:hover{
    opacity: 75%;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.movie-title {
    position: absolute;
    bottom: 2.5rem;
    left: 0.625rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    padding: 0.313rem;
    border-radius: 0.313rem;
}

.movie-score {
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    padding: 0.313rem;
    border-radius: 0.313rem;
}

.movie-card{
    text-decoration: none;
}

.movie-add-title{
    position: relative;
    bottom: 0px;
    background-color: white;
    color: black;
    text-align: center;
    left: 0px;
    padding: 0px;
    margin-top: 1.563rem;
    font-size: 1.125rem;
}

.movie-image-add{
    height: auto;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.movie-image-add:hover{
    opacity: 100%;
    transition: ease-in-out;
    transition-duration: 0.3s;
    padding-top: 0.938rem;
}


